{% load static %}
<div class="container">
    <footer class="d-flex justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">© 2022 AngelD-F</p>

        <ul class="nav col-md-4 align-self-center justify-content-center">
            <li class="nav-item">
                <span class="px-2 nav-link text-muted">Programa distribuido bajo la
                    <a href="https://github.com/AngelD-F/book_directory/blob/main/LICENSE" class="">Licencia MIT</a>
                </span>
            </li>
        </ul>

        <a href="https://github.com/AngelD-F/book_directory"
            class="col-md-4 d-flex align-middle justify-content-end mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <img src="{% static 'book_directory/img/github.png' %}" width="32" height="32" />
        </a>
    </footer>
</div>