{% extends 'book_directory/base.html' %}
{% block content %}
<div class="card mt-2">
    <div class="card-body">
        <form method="get">
            {{bookFilter.form}}
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col">Total: {{book_count}}</div>
                <form class="col" method="get">
                    <button type="submit" name="orderby" value="book_number" class="btn btn-primary">Ordenar por numero
                        de libro</button>
                    <button type="submit" name="orderby" value="title" class="btn btn-primary">Ordenar por
                        titulo</button>
                </form>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            {% for book in books %}
            <li class="list-group-item book-item">
                <a class="btn w-100" href="{% url 'book_directory:update_book' book.id %}">
                    <h6 class="text-muted">{{book.book_number}}</h6>
                    <h5 class="card-title">{{book.title}}</h5>
                    <p class="card-text">Cantidad: #</p>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% if book_count > 10 %}
    <div class="card-footer">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center pagination-color">
                {% if pagination.is_previous %}
                <li class="page-item">
                    <a class="page-link" href="?p={{pagination.previous}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}
                {% for page in pagination.pages %}
                <li class="page-item"><a class="page-link" href="?p={{page}}">{{page}}</a></li>
                {% endfor %}
                {% if pagination.is_next %}
                <li class="page-item">
                    <a class="page-link" href="?p={{pagination.next}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% endif %}
</div>
{% endblock %}