{% extends 'book_directory/base.html' %}
{% block content %}
<div class="card mt-2">
    <div class="card-body">
        <form method="get">
            {{bookFilter.form}}
            <button class="btn btn-primary" type="submit">Search</button>
          </form>
    </div>
    <div class="card">
        <div class="card-header">
            Total: {{books|length}}
        </div>
        <ul class="list-group list-group-flush">
            {% for book in books %}
            <li class="list-group-item book-item">
                <a class="btn w-100" href="{% url 'book_directory:update_book' book.id %}">
                    <h6 class="text-muted">{{book.book_number}}</h6>
                    <h5 class="card-title">{{book.title}}</h5>
                    <p class="card-text">Cantidad: #</p>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% if paginationNeeded %}
    <div class="card-footer">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center pagination-color">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
    </div>
    {% endif %}
</div>
{% endblock %}