{% load static %}

<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="{% url 'book_directory:index' %}" class="d-flex me-lg-auto align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img class="bi me-2" width="200" src="{% static 'book_directory/img/nav_header.png' %}"/>
            </a>
            <div class="text-end py-1">
                <a href="#">
                    <button type="button" class="btn btn-warning">Agregar libro</button>
                </a>
            </div>
        </div>
    </div>
</header>